#home
    background-image: url("assets/grid.png")
    background-size: cover
    background-position: center
    .textbox
        h1
            color: #fff
            font-size: 85px
            font-weight: 700
    .imgbox
        width: 370px
        height: 370px

@media screen and ( max-width: 768px  )
    #home
        .textbox
            h1
                font-size: 60px
        .imgbox
            margin-top: 30px
